1:

ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [1]:
for i in range(4):
    for j in range(i+1):
        print("ineruon",end=" ")
    print("")

ineruon
ineruon ineruon
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

2:

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [2]:
n=2
for i in range(n):
    print("     "*(n-i),"ineruon     "*(i+1))
m=2
for i in range(m+1):
    print("      "*(i),"ineruon     "*((m+1)-i))

           ineruon
      ineruon     ineruon
 ineruon     ineruon     ineruon
       ineruon     ineruon
             ineruon

....

In [3]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [4]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

<b>3: Try to extract all the list entity</b>

In [5]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

<b>4 : Try to extract all the dict enteties</b>

In [6]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

<b>5 : Try to extract all the tuples entities</b>

In [7]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

<b>6 : Try to extract all the numerical data it may be part of dict key and values</b>

In [8]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [9]:
list1=[]
for i in l:
    if type(i)==dict:
        for j,v in i.items():
            if type(j)==int or type(v)==int:
                list1+=[j]
                list1.append(v)
                print(j,":",i[j])
                
    else:
         for j in i:
             if type(j)==int:
                list1+=[j]
                print(j)
print(list1)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3 : 6
7 : 8
[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

<b>7 : Try to give summation of all the numeric data</b>

In [10]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [11]:
list1=[]
for i in l:
    if type(i)==dict:
        for a,b in i.items():
            if type(a)==int or type(b)==int :
                list1+=[a]
                list1+=[b]
                
    else:
       for j in i:
          if type(j)== int:
              list1+=[j]

sum1=sum(list1)
print(sum1)
print(list1)

156
[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

<b>8 : Try to filter out all the odd values out all numeric data which is a part of a list.</b>

In [13]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [14]:
list1=[]
for i in l:
        for j in i:
            if type(j)==int:
                if j%2!=0:
                    list1+=[j]
set1=set(list1)
print(set1)

{1, 3, 5, 7, 45, 23}

In [15]:
for i in l:
    if type(i)!=set:
        set1=set(i)
        print(set1)
    else:
        print(i)

{1, 2, 3, 4}
{2, 3, 4, 5, 6}
{3, 4, 5, 6, 7}
{45, 4, 5, 23}
{3, 'k1', 'k3', 7, 'k2'}
{'data science ', 'ineuron'}

<b>9 : Try to extract "ineruon" out of this data</b>

In [16]:
l[-1][0]

'ineuron'

<b>10 : Try to find out a number of occurances of all the data</b>

In [17]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [18]:
list1=[]
for  i in l:
    for j in i:
        list1+=[j]
coun = {}
for item in list1:
    if item in coun:
        coun[item] += 1
    else:
        coun[item] = 1
print(coun)
for a,b in coun.items():
    print(a,":",b)

{1: 1, 2: 2, 3: 4, 4: 4, 5: 3, 6: 2, 7: 2, 45: 1, 23: 1, 'k1': 1, 'k2': 1, 'k3': 1, 'ineuron': 1, 'data science ': 1}
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 2
7 : 2
45 : 1
23 : 1
k1 : 1
k2 : 1
k3 : 1
ineuron : 1
data science  : 1

<b>11 : Try to find out number of keys in dict element</b>

In [19]:
count1=0
for i in l:
    if type(i)==dict:
       a=len(i.keys())
print(a)

5

<b>12 : Try to filter out all the string data</b>

In [20]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [21]:
for i in l:
    if type(i)==dict:
        for j in i:
            if type(i[j])==str:
                print(i[j])
    else:
        for j in i:
            if type(j)==str:
                print(j)

sudh
ineuron
kumar
ineuron
data science

<b>13 : Try to Find  out alphanum in data</b>

In [22]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [23]:
list1=[]
list2=[]
for i in l:
    if type(i)==dict:
        for a,b in i.items():
            list1+=[a]
            list2+=[b]
        for k in list1:
            a=str(k)
            if a.isalnum()==True:
                    print(k)
        for l in list2:
            b=str(l)
            if b.isalnum()==True:
                print(b)
    else: 
        for j in i:
            a=str(j)
            if a.isalnum()==True:
                print(a)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
k1
k2
k3
3
7
sudh
ineuron
kumar
6
8
ineuron

<b>14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset</b>

In [49]:
l=[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [50]:
list1=[]
multi=1
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        multi=1
        for j in i:
            if type(j)==int:
                 multi=multi*j
        list1.append(multi)
    elif type(i)==dict:
        for a,b in i.items():
            multi=1
            if type(a)==int:
                multi*=a
                list1.append(multi)
            elif type(b)==int:
                multi*=b
                list1.append(multi)

print(list1)

[24, 720, 2520, 20700, 3, 7, 1]

<b>15 : Try to unwrape all the collection inside collection and create a flat list</b>

In [1]:
l=[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [2]:
list1=[]
for i in l:
    if type(i)==dict:
        for a,b in i.items():
            list1.append(a)
            list1.append(b)
    else:
         for j in i:
              list1.append(j)
print(list1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 5, 4, 45, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']

<b>.......</b>

<b>1. Filter Floats from a List</b>

<b>Write a program that extracts all the floating-point numbers from a list containing mixed data types. The program should create a new list containing only the floats.</b>

In [28]:
l=[12.5, 45, "hello", 23.0, 56.78, 90, "world"]

In [29]:
list1=[]
for i in l:
    if type(i)==float:
        list1.append(i)
print(list1)

[12.5, 23.0, 56.78]

<b>2. Filter Strings from a List</b>

<b>Write a program to extract all the string elements from a mixed list and store them in a new list.</b>

In [30]:
l=[1, "Python", 3.14, "Coding", 42, "AI"]

In [31]:
list1=[]
for i in l:
    if type(i)==str:
        list1.append(i)
print(list1)

['Python', 'Coding', 'AI']

<b>3. Filter Non-Integers from a List</b>

<b>Write a program to create a new list that contains all elements from a given list except for integers.</b>

In [32]:
l = [1, 2, 3, "data", 4.5, True, None]

In [33]:
list1=[]
for i in l:
    if type(i)!=int:
        list1.append(i)
print(list1)

['data', 4.5, True, None]

<b>4. Filter Boolean Values from a List</b>

<b>Write a program to extract all the boolean values (True or False) from a mixed list.</b>

In [34]:
l = [True, 42, "yes", False, 3.14, "AI"]

In [35]:
list1=[]
for i in l:
    if type(i)==bool:
        list1.append(i)
print(list1)

[True, False]

<b>5. Filter Even Integers from a List</b>

<b>Write a program that filters only the even integers from a mixed list and stores them in a new list.</b>

In [36]:
l = [1, 2, 3, 4, 5, 6, "even", 7.8]

In [37]:
list1=[]
for i in l:
    if type(i)==int:
        list1.append(i)
list2=[]
for j in list1:
    if j%2==0:
        list2.append(j)
print(list2)

[2, 4, 6]

<b>6. Filter Odd Integers from a List</b>

<b>Write a program that extracts only the odd integers from a mixed list into a new list.</b>

In [38]:
l = [10, 21, 32, 43, "odd", 54, 65]

In [39]:
list1=[]
for i in l:
    if type(i)==int:
        list1.append(i)
list2=[]
for j in list1:
    if j%2!=0:
        list2.append(j)
print(list2)

[21, 43, 65]

<b>7. Filter Elements of a Specific Length</b>

<b>Write a program to filter all string elements with a length greater than 4 characters from a mixed list.</b>

In [40]:
l = ["apple", "AI", 123, "data", "hello", 3.14]

In [41]:
list1=[]
for i in l:
    a=str(i)
    if len(a)>4:
        list1.append(a)
print(list1)

['apple', 'hello']

<b>8. Filter None Values</b>

<b>Write a program to remove all None values from a mixed list and store the remaining elements in a new list.</b>

In [42]:
l = [1, None, "Python", None, 45.6, "data"]

In [43]:
list1=[]
for i in l:
    if i is not None:
        list1.append(i)
print(list1)

[1, 'Python', 45.6, 'data']

<b>9. Filter Alphabetic Strings Only</b>

<b>Write a program that extracts only alphabetic strings (strings without numbers or special characters) from a mixed list.</b>

In [45]:
l = ["AI", "Data123", "hello!", "world", 42, "Python3"]

In [46]:
list1=[]
for i in l:
    a=str(i)
    if a.isalpha()==True:
        list1.append(i)
print(list1)

['AI', 'world']

<b>10. Filter Elements of Specific Data Type</b>

<b>Write a program that asks the user to input a data type (e.g., int, float, str) and filters elements of that type from a given mixed list.
</b>

In [47]:
l = [1, 2.5, "hello", 3, 4.0, "world",True,False]
list1=[]
num=input("Data type(int,float,str,bool) to filter:").lower()
if num=="float":
    for i in l:
        if type(i)==float:
            list1.append(i)
elif num=="str":
    for i in l:
        if type(i)==str:
            list1.append(i)
elif num=="int":
    for i in l:
        if type(i)==int:
            list1.append(i)
elif num=="bool":
      for i in l:
        if type(i)==bool:
            list1.append(i)
print(list1)

Data type(int,float,str,bool) to filter: float

[2.5, 4.0]