<b>Assignment using while loop and control statements:</b>

<b>1.Write a Python program to print all numbers from 1 to 10, but stop the loop immediately when reaching 5 using the break statement.</b>

In [1]:
i=1
while i<10:
    if i==5:
        break
    print(i)
    i=i+1

1
2
3
4

<b>2.Given a list of numbers [1, 2, 3, 4, 5], use a for loop to print the elements one by one. However, if the element is 3, skip it using the continue statement.</b>

In [2]:
list1=[1,2,3,4,5]
for i in list1:
    if i==3:
        continue
    print(i)

1
2
4
5

<b>3.Write a Python function that takes a string as input and checks if it contains the letter 'o'. If it does, print "Found 'o'" and use the break statement to stop searching.</b>

In [3]:
str1=input("Enter a String:").lower()
list1=list(str1)
for i in list1:
    if i=="o":
        print ("Found 'o'")
        break

Enter a String: oops

Found 'o'

<b>4.Given a list of numbers [1, 2, 3, 4, 5], use a for loop to double each element and print the result. However, if the element is 4, use the continue statement to skip it.</b>

In [4]:
list1=[1,2,3,4,5]
for i in list1:
    print(i*2)

2
4
6
8
10

<b>5.Write a Python program to print all numbers from 1 to 20 using a while loop. However, stop the loop when reaching 15 using the break statement.
</b>

In [5]:
i=1
while i<20:
    if i==16:
        break
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

<b>While Loop practicals:</b>

<b>1. Print Numbers from 1 to 10</b>

In [6]:
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

<b>2. Sum of Numbers from 1 to N</b>

In [8]:
n=int(input("Input :"))
i=1
sum1=0
while i<=n:
    sum1=sum1+i
    i=i+1
print(sum1)

Input : 5

15

<b>3. Print Even Numbers up to N</b>

In [9]:
n=int(input("Input :"))
i=1
while i<=n:
    if i%2==0:
        print(i)
    i=i+1

Input : 10

2
4
6
8
10

<b>4. Count Digits in a Number</b>

In [10]:
n=int(input("Input :"))
str1=str(n)
list1=list(str1)
print(len(list1))

Input : 12345

5

<b>5.Reverse a Number</b>

In [11]:
n=int(input("Input :"))
str1=str(n)
print(int(str1[::-1]))

Input : 1234

4321

<b>6. Check if a Number is a Palindrome</b>

In [ ]:
n=int(input("Input:"))
str1=str(n)
str2=str1[::-1]
if str1==str2:
    print(True)
else:
    print(False)

<b>Functions</b>

<b>1.Function to Add Two Numbers</b>

In [24]:
def add(a, b):
    return a+b
a=int(input("Enter A number:"))
b=int(input("Enter B number:"))
add(a,b)

Enter A number: 23
Enter B number: 23

46

<b>2.Function to Find Maximum of Three Numbers

</b>

In [29]:
def max_of_three(a, b, c):
    if a>b and a>c:
        return f"{a} is Maximum"
    elif b>a and b>c:
        return f"{b} is Maximum"
    else :
        return f"{c} is Maximum"
a=int(input("Enter A number:"))
b=int(input("Enter B number:"))
c=int(input("Enter C number:"))
max_of_three(a,b,c)

Enter A number: 13
Enter B number: 24
Enter C number: 5

'24 is Maximum'

<b>3.Function to Check Prime Number</b>

In [40]:
def is_prime(n):
    sum1=0
    for i in range(1,n+1):
        if n%i==0:
            sum1=sum1+1
    if sum1==2:
        print("True")
    else:
        print("False")
n=int(input("Input:"))
is_prime(n)

Input: 8

False

<b>4. Function to Calculate Factorial</b>

In [42]:
def factorial(n):
    i=1
    multi=1
    while i<=n:
        multi=multi*i
        i=i+1
    return multi
n=int(input("Input :"))
factorial(n)

Input : 5

120

<b>5.Function to Print Fibonacci Series up to N terms</b>

In [ ]:
def fibonacci(n):
    list1 = [0, 1]
    i=2
    while i<n:
        a = list1[i-1] + list1[i-2]
        list1.append(a)
        i=i+1
    return list1
n = int(input("Enter the number of Fibonacci terms you want: "))
list1 = fibonacci(n)

print("Fibonacci Sequence:")
print(list1)

<b>6.Function to Count Vowels in a String
</b>

In [15]:
def count_vowels(s):
    list1=list(s)
    list2=['a','e','i','o','u']
    count1=0
    for i in list1:
        if i in list2:
            count1=count1+1
    return count1
s=input("Enter a String").lower()
count_vowels(s)

Enter a String AeIoUHappy

6