<b>Practical Questions on map()</b>

<b>1.Convert a list of strings to uppercase</b>

<b>words = ['python', 'is', 'awesome']    Output: ['PYTHON', 'IS', 'AWESOME']</b>

In [3]:
words=['python','is','awesome']
list1=list(map(str.upper,words))
list1

['PYTHON', 'IS', 'AWESOME']

<b>2.Square all numbers in a list
</b>

<b>numbers = [1, 2, 3, 4]  Output: [1, 4, 9, 16]</b>

In [14]:
numbers=[1,2,3,4]
list1=list(map(lambda x:x*x ,numbers))
list1

[1, 4, 9, 16]

<b>3.Convert a list of integers to strings
</b>

<b>nums = [1, 2, 3] Output: ['1', '2', '3']</b>

In [15]:
nums=[1,2,3]
list1=list(map(lambda x:str(x),nums))
list1

['1', '2', '3']

<b>4. Add 5 to each element in a list</b>

<b>marks = [50, 60, 70]
Output: [55, 65, 75]</b>

In [17]:
marks=[50,60,70]
list1=list(map(lambda x:x+5,marks))
list1

[55, 65, 75]

<b>5. Get lengths of all strings in a list</b>

<b>names = ['apple', 'banana', 'kiwi']
Output: [5, 6, 4]</b>

In [21]:
names=['apple','banana','kiwi']
list1=list(map(lambda x:len(x),names))
list1

[5, 6, 4]

<b>...............</b>

<b>..............</b>

<b>1. Filter out even numbers</b>

<b>nums = [1, 2, 3, 4, 5, 6]
Output: [2, 4, 6]</b>

In [29]:
nums=[1,2,3,4,5,6]
list1=list(filter(lambda i:i%2==0,nums))
list1

[2, 4, 6]

<b>2. Keep only strings with more than 3 characters

</b>

<b>words = ['hi', 'hello', 'hey', 'sun']
Output: ['hello']</b>

In [32]:
words=['hi','hello','hey','sun']
list1=list(filter(lambda x:len(x)>3,words))
list1

['hello']

<b>3. Remove empty strings from a list

</b>

<b>data = ['Python', '', 'Java', '', 'C++']
Output: ['Python', 'Java', 'C++']</b>

In [34]:
data=['Python','','Java','','C++']
list1=list(filter(None,data))
list1

['Python', 'Java', 'C++']

<b>4. Get names that start with 'A'
</b>

<b>names = ['Alice', 'Bob', 'Angela', 'Tom']
Output: ['Alice', 'Angela']</b>

In [37]:
names =['Alice','Bob','Angela','Tom']
list1=list(filter(lambda x:x[0]=='a' or x[0]=='A',names))
list1

['Alice', 'Angela']

<b>5. Keep truthy values only
</b>

<b>
items = [0, None, 'hello', False, 42, '']
Output: ['hello', 42]</b>

In [40]:
items=[0,None,'hello',False,42,'']
truthy=list(filter(bool,items))
truthy

['hello', 42]

<b>....................</b>

<b>......................</b>

<b>1. Sum of all numbers

</b>

<b>nums = [1, 2, 3, 4]
Output: 10</b>

In [2]:
from functools import reduce

In [4]:
nums=[1,2,3,4]
total=reduce(lambda x,y:x+y,nums)
total

10

<b>2. Product of all even numbers
</b>

<b>nums = [1, 2, 3, 4, 5]
Filter even → [2, 4]
Reduce → 8</b>

In [15]:
nums=[1,2,3,4,5]
list1=list(filter(lambda x:x%2==0,nums))
print(list1)
total=reduce(lambda x,y:x*y,list1)
total

[2, 4]

8

<b>3. Find the longest word
</b>

<b>words = ['apple', 'banana', 'kiwi']
Output: 'banana'</b>

In [25]:
words=['apple','banana','kiwi']
list1=list(map(lambda x:len(x),words))
long=max(list1)
for i in words:
    if len(i)==long:
        print((i))

banana

<b>4. Join list of strings into one sentence
</b>

<b>words = ['Python', 'is', 'fun']
Output: 'Python is fun'</b>

In [6]:
words=['Python','is','fun']
sentence=' '.join(words)
sentence

'Python is fun'

<b>5. Create number from digits</b>

<b>
digits = [1, 2, 3, 4]
Output: 1234</b>

In [8]:
digits = [1, 2, 3, 4]
number = int(''.join(map(str, digits)))
print(number)

1234