<b>1. Create a string variable and print its length.</b>

In [1]:
st="Harsha"
print(len(st))

6

<b>2. Take a string input from the user and print it in reverse.</b>

In [2]:
st=input("Enter a String:")
string_reverse=st[::-1]
print(string_reverse)

Enter a String: HARSHA

AHSRAH

<b>3. Replace all occurrences of "A" with "@" in a given string.</b>

In [3]:
st.replace("A","@")

'H@RSH@'

<b>4. Convert a string to all uppercase letters using a loop (without .upper()).</b>

In [4]:
a = "harsha"
upper=""
for i in a:
    if 'a'<= i <= 'z':
        upper+=chr(ord(i)-32)
    else:
        upper+=i
print(upper)

HARSHA

<b>5. Count how many times the letter "e" appears in a string.</b>

In [5]:
st="aimnext"
st.count("e")

1

<b>6. Print the first and last character of a given string.</b>

In [6]:
st="aimnext"
print(st[0])
print(st[-1])

a
t

<b>7.Concatenate two strings and print the result.</b>

In [7]:
str1="data"
str2="science"
st=str1+str2
print(st)

datascience

<b>8.Check if a given string contains the word "Python".</b>

In [8]:
str1="nopython"
str2="nopyton"
print("python" in str1)
print("python"in str2)

True
False

<b>9. Remove all spaces from a string and print the new string.</b>

In [9]:
original_string="pyth on pro grammi ng"
remove_spaces=original_string.replace(" ","")
print(remove_spaces)

pythonprogramming

<b>10.Extract and print the first five characters of a string.</b>

In [10]:
st="Machine Learning"
st[0:5]

'Machi'

<b>11.Create a list of five numbers and print the list.</b>

In [11]:
lis=[1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

<b>12.Print the third element of a given list.</b>

In [12]:
lis[2]

3

<b>13.Replace the second element of a list with "hello".</b>

In [13]:
lis[2]="hello"
lis

[1, 2, 'hello', 4, 5]

<b>14.Add a new element to the end of a list./b<

In [14]:
lis + [29]
lis + ["Rahul"]

[1, 2, 'hello', 4, 5, 'Rahul']

<b>15.Remove the last element from a list and print the modified list.</b>

In [15]:
lis=[1, 2, 'hello', 4, 5, 29, 'Rahul']
lis.pop(-1)

'Rahul'

In [16]:
lis

[1, 2, 'hello', 4, 5, 29]

<b>16.Print each element of a list one by one using a loop.</b>

In [17]:
for items in lis:
    print(items)

1
2
hello
4
5
29

<b>17.Check if the number 10 is in a given list.</b>

In [18]:
10 in lis

False

<b>18.Create two lists and join them into one.</b>

In [19]:
list1=[1,2,"Harsha",True]
list2=[4,5,"Nani",False]
print(list1+list2)

[1, 2, 'Harsha', True, 4, 5, 'Nani', False]

<b>19.Print a list in reverse order without using slicing ([::-1]).</b>

In [20]:
lis=[1,2,"Harsha",True]

In [21]:
lis.reverse()
lis

[True, 'Harsha', 2, 1]

<b>20.Sort a list in ascending order without using .sort().</b>

In [22]:
lis=[23,26,37,1,3]
l=set(lis)
l

{1, 3, 23, 26, 37}

<b>21.Create a tuple of three colors and print it.</b>

In [23]:
tupl=("Red","Yellow","Green")

In [24]:
tupl

('Red', 'Yellow', 'Green')

<b>22.Print the second element of a given tuple</b>

In [25]:
tupl[1]

'Yellow'

<b>23.Try changing an element in a tuple (observe the error).</b>

In [26]:
tupl[1]="violet"

TypeError: 'tuple' object does not support item assignment

<b>24.Convert a tuple to a list and print it.</b>

In [27]:
tuple1=(1,3,"game","True")
tup1=list(tuple1)
tup1

[1, 3, 'game', 'True']

<b>25.Check if "blue" exists in a given tuple.</b>

In [28]:
tupl

('Red', 'Yellow', 'Green')

In [29]:
"blue" in tupl

False

<b>26.Print each element of a tuple using a loop.</b>

In [30]:
for items in tupl:
    print(items)

Red
Yellow
Green

<b>27.Merge two tuples and print the result.</b>

In [31]:
tuple1=(1,7,"Aim",True)
tuple2=(2,8,"Next",False)
tuple1+tuple2

(1, 7, 'Aim', True, 2, 8, 'Next', False)

<b>28.Print a tuple in reverse order.</b>

In [32]:
tupl[::-1]

('Green', 'Yellow', 'Red')

<b>29.Find the length of a tuple without using len()</b>

In [33]:
tupl

('Red', 'Yellow', 'Green')

In [34]:
coun=0
for i in tupl:
    coun+=1
print(coun)

3

<b>30.Create a tuple with a single element and print its type.</b>

In [35]:
tup=(1)
type(tup)

int

In [36]:
tup=(1,2)
type(tup)

tuple

In [37]:
tup=("Hie")
type(tup)

str

<b>31.Create a string "Hello, World!" and print only "World!".</b>

In [38]:
stri="Hello World!"
stri[6:]

'World!'

<b>32.Convert "Python is fun" to "PYTHON IS FUN" without using .upper().</b>

In [39]:
a = "Python is fun"
upper=""
for i in a:
    if 'a'<= i <= 'z':
        upper+=chr(ord(i)-32)
    else:
        upper+=i
print(upper)

PYTHON IS FUN

<b>33.Count how many words are in "I love learning Python" (without using .split()).</b>

In [40]:
str1="I love learning Python"
coun=1
for items in str1:
    if items== " ":
        coun+=1
print(coun)

4

In [88]:
sentence = "I love learning   Python"
count = 0
in_wod=False
for char in sentence:
    if char != ' ' and not in_wod:
        count += 1
        in_wod=True
    elif char == ' ':
        in_wod=False
print(count)

4

<b>34.Take a string input from the user and check if it starts with "Hello".
</b>

In [41]:
a=input("Enter a String")

Enter a String HeLLO world

In [42]:
a.startswith("Hello")

False

<b>35.Print every second character of a string.</b>

In [43]:
stri="Deep learning and Machine Learning"
lis1=stri.split()
length=len(lis1)
for i in range(0,length):
    print(lis1[i][1])

e
e
n
a
e

<b>36.Replace all vowels in a string with "*".</b>

In [44]:
stri="leapyear"
str1="aeiouAEIOU"
output=""
for i in range(len(stri)):
    if stri[i] in str1:
        output+="*"
    else:
        output+=stri[i]
output

'l**py**r'

<b>37.Swap the first and last character of a string.</b>

In [45]:
c="PeterEngland"
first_character=c[0]
last_character=c[-1]
middle_characters=c[1:-1]
print(last_character+middle_characters+first_character)

deterEnglanP

<b>38.Check if two given strings are the same (case-sensitive).</b>

In [46]:
str1="Hello"
str2="helLO"
str1==str2

False

<b>39.Print a string without the first and last character.</b>

In [47]:
c="PeterEngland"
c[1:-1]

'eterEnglan'

<b>40.Convert a string "12345" into a list of individual characters.
</b>

In [48]:
st="12345"
li=list(st)
li

['1', '2', '3', '4', '5']

<b>41.Create a list of five cities and print only the last three.</b>

In [49]:
listt=["Hyderabad","Suryapet","Banglore","Miryalguda","Mumbai"]
listt[-3:]

['Banglore', 'Miryalguda', 'Mumbai']

<b>42.Remove the middle element from a list of five elements.</b>

In [50]:
listt=["Hyderabad","Suryapet","Banglore","Miryalguda","Mumbai"]
length=len(listt)
avg=int((length+1)/2)
listt[avg-1]

'Banglore'

<b>43.Take five numbers from the user and store them in a list.</b>

In [51]:
lis=[]
for i in range(0,5):
    a=int(input(f"Enter {i+1} Number" ))
    lis.append(a)

Enter 1 Number 1
Enter 2 Number 12
Enter 3 Number 123
Enter 4 Number 1234
Enter 5 Number 12345

In [52]:
lis

[1, 12, 123, 1234, 12345]

<b>44.Find the index of "apple" in the list ["banana", "orange", "apple", "grape"].
</b>

In [53]:
li= ["banana", "orange", "apple", "grape"]
li.index("apple")

2

<b>45.Print only the even numbers from a given list.</b>

In [54]:
lis=[1,2,3,4,5,6,7,8,9,10]
for item in lis:
    if item%2==0:
        print(item)

2
4
6
8
10

<b>46.Reverse a list by swapping elements (without [::-1]).
</b>

In [77]:
list1 = [1, 2, 3, 4, 5]
length = len(list1)

for i in range(length // 2):
    list1[i], list1[length - 1 - i] = list1[length - 1 - i], list1[i]

print(list1)

[5, 4, 3, 2, 1]

<b>47.Create a list of ten numbers and print only the unique elements.</b>

In [56]:
lis=[]
for i in range(0,10):
    a=int(input(f"Enter {i+1} Number" ))
    lis.append(a)

Enter 1 Number 1
Enter 2 Number 1
Enter 3 Number 2
Enter 4 Number 3
Enter 5 Number 4
Enter 6 Number 5
Enter 7 Number 5
Enter 8 Number 6
Enter 9 Number 7
Enter 10 Number 7

In [57]:
lis

[1, 1, 2, 3, 4, 5, 5, 6, 7, 7]

In [58]:
convert_to_set=set(lis)
convert_to_set

{1, 2, 3, 4, 5, 6, 7}

In [59]:
for items in convert_to_set:
    print(items)

1
2
3
4
5
6
7

<b>48.Print the sum of all elements in a list (without using sum()).
</b>

In [60]:
list1=[10,33,37,4,3,26523,282]
total=0
for items in list1:
    total+=items
total

26892

In [61]:
x=sum(list1)
x

26892

<b> 49.Move the first element of a list to the last position.</b>

In [62]:
list1=[1,12,3,45,81]
a=list1[0]
list1.append(a)
list1.pop(0)
list1

[12, 3, 45, 81, 1]

<b>50.Create a list with mixed data types (int, float, string) and print each element with its type.</b>

In [63]:
list1=[1,2.5,"Ram"]
for items in list1:
    print(type(items))

<class 'int'>
<class 'float'>
<class 'str'>

<b>51.Create a tuple of five numbers and print only the first three.</b>

In [64]:
tuple1=(1,2,3,4,5)
tuple1[0:3]

(1, 2, 3)

<b>52.Print the last element of a tuple without using negative indexing.</b>

In [65]:
print(tuple1[(len(tuple1))-1])

5

<b>53.Convert a tuple (1, 2, 3, 4, 5) into a list and add a new number.</b>

In [66]:
list1=list(tuple1)
list1.append(6)
list1

[1, 2, 3, 4, 5, 6]

<b>54.Try deleting an element from a tuple and observe the error.</b>

In [67]:
tuple1.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

<b>55.Extract the middle element from a tuple with an odd number of elements.</b>

In [68]:
tuple2=(900,"Suryapet",20.9)
length=len(tuple2)
avg=int((length+1)/2)
tuple2[avg-1]

'Suryapet'

<b>56.Check if two tuples (1, 2, 3) and (3, 2, 1) are the same.</b>

In [69]:
tuple1=(1,2,3)
tuple2=(3,2,1)
tuple1==tuple2

False

<b>57.Create a nested tuple and print an inner element.</b>

In [70]:
tuple1=(1,2.0,("Harsha",7.0,89),True)
tuple1[2][1]

7.0

<b>58.Merge three tuples into one.</b>

In [71]:
tuple1=(1,3,5)
tuple2=(2,4,6)
tuple3=(7,8,9)
tuple4=(tuple1,tuple2,tuple3)
tuple4

((1, 3, 5), (2, 4, 6), (7, 8, 9))

<b>59.Find the index of 5 in the tuple (1, 3, 5, 7, 9).
</b>

In [72]:
tuple1=(1,3,5,7,9)
tuple1.index(5)

2

<b>60.Unpack a tuple into separate variables.</b>

In [73]:
animals=("Dog","Cat","Donkey")
(Rat,Bat,Pig)=animals
print(Rat)
print(Bat)
print(Pig)

Dog
Cat
Donkey

In [74]:
animals=("Dog","Cat","Donkey","Fox","Roxy")
(Rat,Bat,*Pig)=animals
print(Rat)
print(Bat)
print(Pig)

Dog
Cat
['Donkey', 'Fox', 'Roxy']

In [75]:
animals=("Dog","Cat","Donkey","Fox","Roxy")
(Rat,*Bat,Pig)=animals
print(Rat)
print(Bat)
print(Pig)

Dog
['Cat', 'Donkey', 'Fox']
Roxy

In [76]:
animals=("Dog","Cat","Donkey","Fox","Roxy")
(*Rat,Bat,Pig)=animals
print(Rat)
print(Bat)
print(Pig)

['Dog', 'Cat', 'Donkey']
Fox
Roxy