# Practice Questions

<b>1. What is the difference between a function and a method in Python?</b>

Function:
1. A function is defined using the def keyword and is not tied to any object or class (unless explicitly passed).
2. It can be defined at the module level (outside of a class).

Method:
1. A method is also a function, but it is associated with an object or class.
2. It is defined within a class and automatically takes the instance (self) or class (cls) as its first argument.

<b>2. Which keyword is used to define a function in Python? <b>

A function is defined using the def keyword

<b>3. What will return do inside a function?<b>

It allows the function to return a value or result.

<b>4. What is the default return value of a function if there is no return statement?<b>

If a Python function does not have a return statement (or the return statement has no value), it returns None by default.

<b>5. What is a keyword argument? Give an example.<b>

A keyword argument is an argument passed to a function by explicitly specifying the parameter name

In [1]:
def greet(name, message):
    print(f"{message}, {name}!")

greet(name="Harsha", message="Good morning")

Good morning, Harsha!

<b>6. What is the use of *args and **kwargs in function definitions?<b>

1. *args – Non-keyword variable arguments
   
Allows you to pass any number of positional arguments.


Inside the function, args is a tuple.

2. **kwargs – Keyword variable arguments
  
Allows you to pass any number of keyword arguments.


Inside the function, kwargs is a dictionary.

<b>7. Can you define a function inside another function in Python?<b>

Yes, you can define a function inside another function in Python. This is called a nested function or inner function.

In [2]:
def outer_function(name):
    def inner_function():
        return f"Hello, {name}!"
    return inner_function()

print(outer_function("Harsha"))

Hello, Harsha!

<b>8. What does global keyword do inside a function?<b>

The global keyword in Python is used inside a function to indicate that a variable refers to the global (module-level) scope, not the local one.


Purpose:
It allows you to modify a global variable from within a function.

In [3]:
x = 10

def modify_global():
    global x
    x = 10

modify_global()
print(x)

10

<b>9. Which of the following creates a lambda function?
a) lambda x: x + 2
b) def lambda x: x + 2
c) function lambda(x): x + 2

In [4]:
lambda x: x+2

<b>10.Identify the error:

def greet(name):

print("Hello", name)

In [5]:
def greet(name):
    print("Hello",name)

greet("Harsha")

Hello Harsha

<b>11. Write a function that takes two numbers and returns their sum.

In [6]:
def add(a,b):
    return a+b
add(10,2)

12

<b>12. Write a function to check if a number is even or odd.

In [7]:
def od(n):
    if n%2==0:
        return "Given Number is Even"
    else:
        return "Given Number is Odd"

od(15)

'Given Number is Odd'

<b>13. Write a function that returns the factorial of a number.

In [8]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n * fact(n-1)

fact(6)

720

<b>14. Write a function that reverses a string.

In [9]:
def rs(s):
    return s[::-1]

rs("Harsha")

'ahsraH'

<b>15. Write a function that takes a list and returns a list of squares.

In [11]:
def square(l):
    return [x**2 for x in l]

l=[1,2,3,1,6,4,5,6]
square(l)

[1, 4, 9, 1, 36, 16, 25, 36]

<b>16. Write a function that takes a string and returns True if it is a palindrome.

In [12]:
def palin(s):
    a = s[::-1]
    if s==a:
        return "Palindrome"
    else:
        return "Not Palindrome"

palin("harsha")

'Not Palindrome'

<b>17. Write a recursive function to calculate the nth Fibonacci number.

In [13]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

fibonacci(5)

5

<b>18. Write a function that accepts variable number of arguments and returns their sum.

In [14]:
def s(*args):
    return sum(args)
s(1,2,3,4,5,6)

21

<b>19. Write a function that takes a dictionary and prints keys and values.

In [15]:
def dict(**kwargs):
    for k,v in kwargs.items():
        print(k,v)
dict(name="harsha", age=22, number=236)

name harsha
age 22
number 236

<b>20. Write a function that accepts a list of numbers and returns only even numbers.

In [16]:
def even(l):
    for i in l:
        if i%2==0:
            print(i)
    
l=[1,2,3,4,5,6]
even(l)

2
4
6

<b>21. Create a lambda function to add 5 to a given number.

In [17]:
add_five = lambda x: x + 5
add_five(10)

15

<b>22. Create a function that returns the largest number from a list.

In [18]:
def largest(l):
    return max(l)
l=[1,2,3,4,5,6]
largest(l)

6

<b>23. Create a function with default arguments.

In [19]:
def greet(name="Guest"):
    print(f"Hello, {name}!")
greet("Harsha")
greet()

Hello, Harsha!
Hello, Guest!

<b>24. Write a function that counts vowels in a string.

In [124]:
v = 'aeiouAEIOU'
def cv(s):
    c=0
    for i in s:
        if i in v:
            c=c+1
    return c
cv("harsha")

2

<b>25. Write a function that merges two lists and removes duplicates.

In [20]:
def merge_and_remove_duplicates(list1, list2):
    merged_list = list1 + list2
    return list(set(merged_list))
l=[1,2,3,4,5,6]
l1=[2,3,4,5,6]
merge_and_remove_duplicates(l,l1)

[1, 2, 3, 4, 5, 6]

<b>26. What is pandas in Python?

Pandas is a powerful and flexible open-source library in Python used for data manipulation and analysis. It provides data structures like Series and DataFrame that make it easy to work with structured data (e.g., tabular data, time series, and more).

<b>27. Which function is used to read a CSV file?

In [21]:
import pandas as pd

df = pd.read_csv("C:/HARSHA/Course/DATA SCIENCE/DATASETS/AgentPerformance.csv")

df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6

<b>28. What is the difference between loc and iloc?

1. loc: Label-based indexing

loc is used to select data based on the label (index) of rows and columns.

It includes both start and stop positions when slicing.


2. iloc: Integer-location based indexing

iloc is used to select data based on the integer position (i.e., the index of rows and columns).

It excludes the stop position when slicing (i.e., it's exclusive of the last element).

<b>29. How do you check for missing values in a DataFrame?`

In [22]:
import pandas as pd

data = {'Name': ['Harsha', 'Balu', 'nithin', None],
        'Age': [22, None, 32, 10]}

df = pd.DataFrame(data)

print(df.isnull())

    Name    Age
0  False  False
1  False   True
2  False  False
3   True  False

<b>30. How can you get basic statistical summary of a DataFrame?

In [23]:
df.describe()

             Age
count   3.000000
mean   21.333333
std    11.015141
min    10.000000
25%    16.000000
50%    22.000000
75%    27.000000
max    32.000000

<b>31. What is the output of df.head()?

In [24]:
df.head()

     Name   Age
0  Harsha  22.0
1    Balu   NaN
2  nithin  32.0
3    None  10.0

<b>32. How do you rename a column in pandas?

In [25]:
df.rename(columns={'Age': 'ages'}, inplace=True)

In [26]:
df

     Name  ages
0  Harsha  22.0
1    Balu   NaN
2  nithin  32.0
3    None  10.0

<b>33. What method is used to join/merge two DataFrames?

Merge method is used to join two DataFrames

<b>34. What does df.dropna() do?

In [27]:
df.dropna()

     Name  ages
0  Harsha  22.0
2  nithin  32.0

<b>35. What is the difference between Series and DataFrame?

1. Series:

A Series is a one-dimensional labeled array that can hold any data type (integers, strings, floats, etc.).

It is similar to a list or array, but with labels (indexes) for each element.
    
Key Features:

1D structure: A single column of data.
    
Can have custom indexes.
    
Stores data in a linear fashion.

2. DataFrame:
    
A DataFrame is a two-dimensional labeled data structure, like a table or spreadsheet, where you have rows and columns.
    
It is essentially a collection of Series objects that share the same index.
    
Key Features:

2D structure: Can hold data in both rows and columns.
    
Each column can be a different data type (integers, strings, floats, etc.).
    
Has both row and column labels (indexes).

<b>36. Load a CSV file into a DataFrame using pandas.

In [28]:
import pandas as pd

df = pd.read_csv("C:/HARSHA/Course/DATA SCIENCE/DATASETS/AgentPerformance.csv")

df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6

<b>37. Display the first 5 rows of a DataFrame.

In [29]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6

<b>38. Select a single column from a DataFrame.

In [31]:
df[['Agent Name']]

              Agent Name
0           Prerna Singh
1          Nandani Gupta
2             Ameya Jain
3          Mahesh Sarade
4                 Swati
...                  ...
2155   Sowmiya Sivakumar
2156             Nitin M
2157              Vivek
2158       Ayushi Mishra
2159  Chaitra K Hiremath

[2160 rows x 1 columns]

<b>39. Select multiple columns from a DataFrame.

In [32]:
df[['Agent Name','Date']]

              Agent Name       Date
0           Prerna Singh  7/30/2022
1          Nandani Gupta  7/30/2022
2             Ameya Jain  7/30/2022
3          Mahesh Sarade  7/30/2022
4                 Swati   7/30/2022
...                  ...        ...
2155   Sowmiya Sivakumar   7/1/2022
2156             Nitin M   7/1/2022
2157              Vivek    7/1/2022
2158       Ayushi Mishra   7/1/2022
2159  Chaitra K Hiremath   7/1/2022

[2160 rows x 2 columns]

<b>40. Filter rows where a column "Age" is greater than 25.

In [33]:
import pandas as pd
data = {'Name': ['Harsha', 'Balu', 'Bods', 'Nithin'],
        'Age': [24, 32, 21, 30]}
df = pd.DataFrame(data)
filtered_df = df[df['Age'] > 25]
print(filtered_df)

     Name  Age
1    Balu   32
3  Nithin   30

<b>41. Add a new column "Country" to an existing DataFrame.

In [34]:
df['Country'] = 'India'

In [35]:
df.head()

     Name  Age Country
0  Harsha   24   India
1    Balu   32   India
2    Bods   21   India
3  Nithin   30   India

<b>42. Delete a column from a DataFrame.

In [36]:
df.drop('Country',axis=1,inplace=True)

In [37]:
df

     Name  Age
0  Harsha   24
1    Balu   32
2    Bods   21
3  Nithin   30

<b>43. Apply a lambda function to a column to convert names to uppercase.

In [38]:
import pandas as pd
data = {'Name': ['Hari', 'Baby', 'Care'],
        'Age': [25, 30, 53]}
df = pd.DataFrame(data)
df['Name'] = df['Name'].apply(lambda x: x.upper())
print(df)

   Name  Age
0  HARI   25
1  BABY   30
2  CARE   53

<b>44. Save a DataFrame to a new CSV file.

In [39]:
df.to_csv('file_name.csv', index=False)

<b>45. What are the four principles of OOP?

1. Inheritance
2. Abstraction
3. Polymorphism
4. Encapsulation

<b>46. What is the difference between a class and an object?

1. Class:

A class is a blueprint or template for creating objects (instances).
                                  
It defines the attributes (properties) and methods (functions) that the objects created from the class will have.
    
A class itself is not a real entity, but it provides a structure for objects.

2. Object:
                                                                
An object is an instance of a class. It is a real-world entity that is created from a class.
                                                                              
Each object has its own state (values for attributes) and behavior (methods defined in the class).
                                                                              
Objects are created by calling the class as if it were a function.

47. What is inheritance and how is it implemented in Python?

You define the parent class, and then the child class inherits from it by passing the parent class name in parentheses.

The child class can access methods and attributes of the parent class and can also override (or extend) the parent class methods.

Syntax:

class ParentClass:

    # Parent class code

class ChildClass(ParentClass):

    # Child class code

<b>48. What are __init__ and self in Python classes?

In Python, __init__ and self are fundamental components used to define and work with classes and objects. Here's an explanation of each:

1. __init__ (Constructor Method):

__init__ is a special method (also known as a constructor) in Python classes. It is automatically called when a new object of the class is created.

The purpose of __init__ is to initialize the object's attributes (variables) with the values passed during object creation.

It's similar to a constructor in other programming languages.


<b>49. What is method overriding?

Method overriding in Python refers to the ability of a child class to provide a specific implementation of a method that is already defined in its parent class. When a child class provides its own version of a method, it overrides the method of the parent class.

This allows the child class to modify or extend the behavior of a method inherited from the parent class, without changing the method in the parent class itself.

<b>50. Define a class Car with attributes make, model, and a method to display details.

In [40]:
class Car:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
    def show_details(self):
        return self.make,self.model,self.year
     
c = Car("Hyundai","Creta",2024)
c.show_details()

('Hyundai', 'Creta', 2024)

<b>51. Create a class Rectangle with methods to calculate area and perimeter.

In [41]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width
    
    def area(self):
        return self.length * self.width
    
    def perimeter(self):
        return 2 * (self.length + self.width)
rectangle = Rectangle(5, 3)

print(f"Area: {rectangle.area()}")  
print(f"Perimeter: {rectangle.perimeter()}")

Area: 15
Perimeter: 16

<b>52. Implement single inheritance using classes Person and Employee.

In [42]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def display_info(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")

class Employee(Person):
    def __init__(self, name, age, employee_id, department):
        super().__init__(name, age)
        self.employee_id = employee_id
        self.department = department
    
    def display_employee_info(self):
        self.display_info()
        print(f"Employee ID: {self.employee_id}")
        print(f"Department: {self.department}")

emp = Employee("Alice", 30, "E123", "HR")
emp.display_employee_info()

Name: Alice
Age: 30
Employee ID: E123
Department: HR

<b>53. Write a class BankAccount that allows deposit, withdraw, and balance check.

In [43]:
class BankAccount:
    def __init__(self, account_holder, balance=0):
        self.account_holder = account_holder
        self.balance = balance
    
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited: ${amount}. Current balance: ${self.balance}")
        else:
            print("Deposit amount must be positive.")
    
    def withdraw(self, amount):
        if amount <= 0:
            print("Withdrawal amount must be positive.")
        elif amount > self.balance:
            print("Insufficient balance.")
        else:
            self.balance -= amount
            print(f"Withdrawn: ${amount}. Current balance: ${self.balance}")
    
    def check_balance(self):
        print(f"Current balance: ${self.balance}")
    
account = BankAccount("John Doe")
account.deposit(500)
account.withdraw(200)
account.check_balance()
account.withdraw(400)

Deposited: $500. Current balance: $500
Withdrawn: $200. Current balance: $300
Current balance: $300
Insufficient balance.

<b>54. Create a class Student that stores name and marks, and has a method to calculate grade.

In [44]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
    
    def calculate_grade(self):
        if self.marks >= 90:
            return "A"
        elif self.marks >= 80:
            return "B"
        elif self.marks >= 70:
            return "C"
        elif self.marks >= 60:
            return "D"
        else:
            return "F"
    
    def display_info(self):
        grade = self.calculate_grade()
        print(f"Name: {self.name}")
        print(f"Marks: {self.marks}")
        print(f"Grade: {grade}")

student1 = Student("Alice", 85)
student2 = Student("Bob", 72)
student1.display_info()
print() 
student2.display_info()

Name: Alice
Marks: 85
Grade: B

Name: Bob
Marks: 72
Grade: C

<b>55. What is the purpose of the open() function in Python?

The open() function in Python is used to open a file in a specified mode (e.g., read, write, append) and returns a file object that allows you to interact with the file (e.g., reading or writing).

<b>56. What are the different modes available in open()?
a) 'r', 'w', 'a', 'b', 'x', 'r+' — explain any three.

1. 'r' – Read Mode
Purpose: Opens a file for reading only.

Behavior: The file must already exist. If the file does not exist, a FileNotFoundError is raised.

Use Case: This mode is used when you need to read the content of an existing file.

Example:

file = open('example.txt', 'r') 

content = file.read()

print(content)

file.close()

2. 'w' – Write Mode

Purpose: Opens a file for writing.

Behavior: If the file already exists, it is overwritten. If the file does not exist, it is created.

Use Case: This mode is used when you want to write data to a file, but be cautious as existing content in the file will be lost.

Example:

file = open('example.txt', 'w') 

file.write("Hello, World!") 
file.close()

3. 'a' – Append Mode

Purpose: Opens a file for appending.

Behavior: The file is opened and new data is added at the end of the file. If the file does not exist, it will be created. The existing content is not overwritten.

Use Case: This mode is useful when you want to add new data to the file without deleting the old content.
Example:

file = open('example.txt', 'a') 

file.write("\nThis is a new line.") 

file.close()

<b>57. What is the difference between read(), readline(), and readlines()?

The functions read(), readline(), and readlines() are used to read data from a file in Python, but they differ in how they return the file's contents.

1. read()
Purpose: Reads the entire content of the file at once.
Return Value: It returns the content as a single string.
Behavior: If you do not provide a size argument, it will read the entire file. You can also provide a number to read a specific number of bytes.
Use Case: This is useful when you want to read the entire file in one go or when the file size is not very large.
Example:

with open('example.txt', 'r') as file:
    content = file.read()  # Reads all the content
    print(content)
Output (if the file contains the following content):

Hello, this is the file content.
It contains multiple lines.
2. readline()
Purpose: Reads one line from the file at a time.
Return Value: It returns a single line from the file, including the newline character (\n) at the end.
Behavior: Each time you call readline(), it reads the next line from the file.
Use Case: This is useful when you want to process the file line by line, especially when dealing with large files, to avoid reading everything into memory at once.
Example:

with open('example.txt', 'r') as file:
    line = file.readline()  # Reads the first line
    print(line)  # Prints the first line
Output:

Hello, this is the file content.
Subsequent calls to readline() will return the next lines, one by one.

3. readlines()
Purpose: Reads all the lines in the file and returns them as a list of strings.
Return Value: It returns a list where each element is a line from the file.
Behavior: The list will include newline characters (\n) at the end of each line, except for the last line if it doesn't end with a newline.
Use Case: This is useful when you want to process all lines at once but still work with them individually, like in a loop or when you need to store them for further processing.
Example:

with open('example.txt', 'r') as file:
    lines = file.readlines()  # Reads all lines and returns a list
    print(lines)
Output:

['Hello, this is the file content.\n', 'It contains multiple lines.\n']

<b>58. What happens if you try to open a file that doesn't exist in read mode?

If you try to open a file that doesn't exist in read mode ('r'), Python will raise a FileNotFoundError.

<b>59. What is the use of the with statement in file handling?

The with statement in Python is used to simplify file handling by ensuring that files are properly opened and closed, even if an error occurs during file operations. It is often referred to as a context manager, and it provides a clean and efficient way to work with files and other resources that need to be explicitly released (like network connections, database connections, etc.).

<b>60. Write a Python program to open a text file and print its content.

In [48]:
with open('sample.txt', 'r') as file:
    content = file.read()
    print(content)

Content To Print
I am Learning Python

<b>61. Write a Python program to count the number of lines in a file.

In [55]:
with open("sample.txt","r") as f:
    line_count = sum(1 for line in f)
print(f"Number of lines: {line_count}")

Number of lines: 3

<b>62. Write a Python program to read a file line by line and print only lines containing the word "error".

In [58]:
with open('sample.txt', 'r') as file:
    for line in file:
        if 'error' in line:
            print(line.strip())

error Has Occured

<b>63. Write a program to write a list of strings to a file (each on a new line).

In [59]:
lines = ["Hello, world!", "This is a test.", "Writing to a file.", "Each line is separate."]
with open('sample.txt', 'w') as file:
    for line in lines:
        file.write(line + '\n')

<b>64. Read a file and create a dictionary with word counts (word frequency).

<b>65. Append a new line of text to an existing file.

In [60]:
new_line = "This is a new line being appended."

with open('sample.txt', 'a') as file:
    file.write(new_line + '\n')

<b>66. Write a function to copy content from one file to another.

In [61]:
with open('sample.txt', 'r') as file, open('sample1.txt','w') as file1:
    for line in file:
        file1.write(line)

<b>67. Write a program that checks if a file exists before trying to open it.

In [63]:
import os

filename = 'sampe.txt'
if os.path.exists(filename):
    with open(filename, 'r') as file:
        content = file.read()
        print("File content:\n", content)
else:
    print(f"The file '{filename}' does not exist.")

The file 'sampe.txt' does not exist.

<b>68. Write a program that reads a CSV file and prints each row.

In [64]:
import pandas as pd
df = pd.read_csv("C:/HARSHA/Course/DATA SCIENCE/DATASETS/AgentPerformance.csv")

df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

<b>69. Write a program to write the current date and time to a log file each time it's run.

<b>70. Write a Python program that reads a text file called data.txt and prints only the lines that contain the word "success" (case-insensitive)

In [65]:
with open('sample.txt', 'r') as file:
    for line in file:
        if 'success' in line.lower():
            print(line.strip())